body {
background-color: #02010a;
font-family: 'Dancing Script', cursive;
margin: 0 auto;
}

.contenido {
	margin: 0 auto;
}
.sombra {
	box-shadow: 2px 2px 2px #02010a;
}

header {
	color: white;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}

header h1 {
	padding: 0% 0% 0% 2%;
	width: 40%;
	float: left;
	text-shadow: 2px 2px 2px #02010a;
}

#menunav{
  width: 50%;
	float: left;
	padding-top: 1%;
}

ul {
	list-style-type: none;
	text-align: right;
  font-size: 1.2em;
}
ul li {
	display: inline;
	padding: 2%;
}
ul li a {
	color: white;
}
/* Elinima el underline del Link */
#limpialinea {
	text-decoration: none;
}

#imgsecundaria {
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}
#imgsecundaria div span {
	width: 100%;
	display: block;
	text-align: center;
}
#imgsecundaria div a {
	color: #000000;
}
#imgsecundaria div span {
	padding: 15px 0px;
}
#paisajes:hover {
	animation: Rotacion 2s;
}
@-webkit-keyframes Rotacion {
 0% {
 transform: rotate(0deg);
}
50% {
 transform: rotate(10deg);
 box-shadow: 2px 2px 2px #82c3a6;
}
100% {
 transform: rotate(0deg);
}
}

#retratos:hover {
	animation: transl 2s;
}
@-webkit-keyframes transl {
 0% {
 transform: translate(0px, 0px);
}
50% {
 transform: translate(20px, -5px);
 box-shadow: 2px 2px 2px #82c3a6;
}
100% {
 transform: translate(0px, 0px);
}
}

footer {
  width: 100%;
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
}
.piepagina img{
		width: 30px;
		height: 30px;
}

figure img {
	float: left;
}

@media (max-width: 900px) {
.contenido {
	width: 100%;
}
header {
	min-height: 200px;
}
header h1 {
	width: 100%;
	text-align: center;
}

#menunav {
	width: 100%;
}
ul {
	text-align: center;
}
#imagencentral {
	max-width: 900px;
	width: 100%;
	background-color: #82c3a6;
}
#imgcentral {
	max-width: 96%;
	margin: 2%;
}

#imgsecundaria div {
	max-width: 100%;
}
#imgsecundaria div a img {
	max-width: 90%;
	border: 1px;
	margin: 5%;
}

footer {
	width: 100%;
	min-height: 300px;
}
.piepagina {
	width: 100%;
	height: auto;
	padding: 1% 2.5% 1% 2.5%;
}
}

@media (min-width: 900px) {
.contenido {
	width: 900px;
}
header {
	width: 900px;
	min-height: 80px;
}
footer {
	width: 900px;
	min-height: 200px;
}
.piepagina {
	width: 20%;
	height: auto;
	padding: 1% 2.5% 1% 2.5%;
}

#imagencentral {
	min-width: 900px;
	height: auto;
	background-color: #82c3a6;
}
#imgcentral {
	max-width: 80%;
	margin: 2% 10%;
}
#imgsecundaria div {
	max-width: 50%;
}
#imgsecundaria div a img {
	max-width: 90%;
	border: 1px;
	margin: 5%;
}

}
