/*
ara la sección de la galería selecciona al menos una imagen de tu preferencia sobre paisajes o retratos según sea el caso.
    * La galería debe mostraste en tres columnas para desktop y en una para móvil, sigue las siguientes consideraciones para los efectos de las imágenes:
    * Para la imagen 1, aplica el efecto blur de 10px.
    * Para las imágenes 2,4,6 (pares) aplica escala de grises al 100%.
    * Para la imagen 3, aplica el efecto sepia de 90%.
*/
#galeriaretratos {
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}
.blur{
   -webkit-filter: blur(10px);
}
.gris{
   -webkit-filter: grayscale(100%);
}
.sepia{
   -webkit-filter: sepia(90%);
}

@media (max-width: 900px) {
#galeriaretratos {
	max-width: 900px;
	width: 100%;
}
	#galeriaretratos div img{
		width: 84%;
		margin: 4% 8%;
	}
}

@media (min-width: 900px) {
#galeriaretratos {
	min-width: 900px;
	height: auto;
}
#galeriaretratos div {
	width: 33.3%;
}
#galeriaretratos div img {
	width: 84%;
	margin: 4% 8%;
}
}

/*
Pie de página en esta sección debes ubicar información de contacto, términos, redes sociales, y derechos, aplica las siguientes consideraciones:
    * Aplica bordes redondeados en las esquinas inferiores a 10px.
    * El pie debe estar a cuatro columnas en desktop y una columna en móvil.
    * Aplica el color de fondo #C6d5c5.
    * La columna de contacto debe contener un correo electrónico, una dirección física y un número telefónico.
    * En la columna de término agrega una frase corta referente a las políticas.
    * En la columna de Redes Sociales, agrega tres de tu preferencia.
    * En la columna de Derechos agrega tu nombre, apellido, el símbolo de CopyRight y el año actual.
*/

/*
1. Solo para la versión móvil muestra centrado el menú y debajo del título.
2. Para ambas versiones el header debe tener una animación de slidein (debe venir de abajo hacia arriba y rebotar) está animación debe hacerse variando el margin-top de 150% a -5% y luego a 0%, en los momentos 0%, 60% y 100% respectivamente.
*/
